In [1]:
!pip install -U keras-tuner

Requirement already satisfied: keras-tuner in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (1.4.5)
Requirement already satisfied: keras-core in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-tuner) (0.1.7)
Requirement already satisfied: packaging in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-tuner) (23.0)
Requirement already satisfied: requests in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-tuner) (2.29.0)
Requirement already satisfied: kt-legacy in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: absl-py in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-core->keras-tuner) (2.0.0)
Requirement already satisfied: numpy in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-core->keras-tuner) (1.24.3)
Requirement already satisfied: rich in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-core->keras-tuner) (13.6.0)
Requirement already satisfied: namex in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-core->keras-tuner) (0.0.7)
Requirement already satisfied: h5py in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-core->keras-tuner) (3.7.0)
Requirement already satisfied: dm-tree in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from keras-core->keras-tuner) (0.1.8)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from requests->keras-tuner) (2023.5.7)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from rich->keras-core->keras-tuner) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from rich->keras-core->keras-tuner) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\priyanshu chauhan\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras-core->keras-tuner) (0.1.0)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/keras-tuner/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/keras-tuner/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/keras-tuner/

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import Sequential
import tensorflow as tf
from tensorflow.keras.layers import Dense
import keras_tuner as kf
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

Using TensorFlow backend

In [3]:
df = pd.read_csv("D:\\Datasets-main\\Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.drop(columns = ['RowNumber'	,'CustomerId',	'Surname'], inplace=True)

In [5]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df = pd.get_dummies(data = df,columns=['Geography','Gender'])
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [7]:
x = df.drop(columns = ['Exited'])
y = df['Exited']

In [8]:
sc = StandardScaler()

x = sc.fit_transform(x)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20, random_state=1)

In [11]:
ann = Sequential()

ann.add(Dense(units = 10, activation = 'relu'))
ann.add(Dense(units = 1, activation = 'sigmoid'))

ann.compile(optimizer = 'adadelta', loss = 'binary_crossentropy', metrics ='accuracy')

ann.fit(xtrain,ytrain,epochs = 100)

Epoch 1/100
250/250 [==============================] - 3s 5ms/step - loss: 0.6889 - accuracy: 0.5936
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6879 - accuracy: 0.5944
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6868 - accuracy: 0.5953
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6858 - accuracy: 0.5965
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6847 - accuracy: 0.5970
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6837 - accuracy: 0.5984
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6826 - accuracy: 0.5991
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6815 - accuracy: 0.6001
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6804 - accuracy: 0.6015
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6793 - accuracy: 0.6025
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6782 - accuracy: 0.6036
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6771 - accuracy: 0.6045
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6760 - accuracy: 0.6054
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6749 - accuracy: 0.6065
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6738 - accuracy: 0.6074
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6727 - accuracy: 0.6089
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6716 - accuracy: 0.6095
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6706 - accuracy: 0.6106
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6695 - accuracy: 0.6115
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6684 - accuracy: 0.6125
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6674 - accuracy: 0.6137
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6663 - accuracy: 0.6144
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6653 - accuracy: 0.6154
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6642 - accuracy: 0.6160
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6632 - accuracy: 0.6170
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6621 - accuracy: 0.6180
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6611 - accuracy: 0.6191
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6601 - accuracy: 0.6206
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6591 - accuracy: 0.6217
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6581 - accuracy: 0.6223
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6571 - accuracy: 0.6240
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6561 - accuracy: 0.6249
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6551 - accuracy: 0.6260
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6541 - accuracy: 0.6266
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6531 - accuracy: 0.6271
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6521 - accuracy: 0.6283
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6511 - accuracy: 0.6295
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6502 - accuracy: 0.6309
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6492 - accuracy: 0.6320
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6483 - accuracy: 0.6332
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6473 - accuracy: 0.6342
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6463 - accuracy: 0.6355
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6454 - accuracy: 0.6363
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6445 - accuracy: 0.6367
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6435 - accuracy: 0.6380
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6426 - accuracy: 0.6392
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6416 - accuracy: 0.6399
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6407 - accuracy: 0.6409
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6398 - accuracy: 0.6413
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6389 - accuracy: 0.6415
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6380 - accuracy: 0.6423
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6371 - accuracy: 0.6431
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6362 - accuracy: 0.6440
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6353 - accuracy: 0.6446
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6344 - accuracy: 0.6457
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6335 - accuracy: 0.6463
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6326 - accuracy: 0.6470
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6318 - accuracy: 0.6479
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6309 - accuracy: 0.6488
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6301 - accuracy: 0.6494
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6292 - accuracy: 0.6503
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6284 - accuracy: 0.6507
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6275 - accuracy: 0.6515
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6267 - accuracy: 0.6524
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6259 - accuracy: 0.6529
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6250 - accuracy: 0.6538
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6242 - accuracy: 0.6541
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6234 - accuracy: 0.6551
Epoch 69/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6226 - accuracy: 0.6555
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6218 - accuracy: 0.6561
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6209 - accuracy: 0.6565
Epoch 72/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6201 - accuracy: 0.6574
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6193 - accuracy: 0.6578
Epoch 74/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6185 - accuracy: 0.6581
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6177 - accuracy: 0.6585
Epoch 76/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6169 - accuracy: 0.6594
Epoch 77/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6162 - accuracy: 0.6594
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6154 - accuracy: 0.6599
Epoch 79/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6146 - accuracy: 0.6609
Epoch 80/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6138 - accuracy: 0.6612
Epoch 81/100

250/250 [==============================] - 1s 5ms/step - loss: 0.6131 - accuracy: 0.6619
Epoch 82/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6123 - accuracy: 0.6622
Epoch 83/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6115 - accuracy: 0.6630
Epoch 84/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6108 - accuracy: 0.6646
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6100 - accuracy: 0.6659
Epoch 86/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6093 - accuracy: 0.6670
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6085 - accuracy: 0.6679
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6078 - accuracy: 0.6686
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6071 - accuracy: 0.6700
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6063 - accuracy: 0.6711
Epoch 91/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6056 - accuracy: 0.6719
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6049 - accuracy: 0.6729
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6041 - accuracy: 0.6734
Epoch 94/100
250/250 [==============================] - 1s 6ms/step - loss: 0.6034 - accuracy: 0.6752
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6027 - accuracy: 0.6766
Epoch 96/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6020 - accuracy: 0.6776
Epoch 97/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6013 - accuracy: 0.6785
Epoch 98/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6006 - accuracy: 0.6791
Epoch 99/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5999 - accuracy: 0.6799
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5992 - accuracy: 0.6808

In [12]:
ypred = ann.predict(xtest)
ypred = ypred > 0.5
ypred

63/63 [==============================] - 1s 4ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [13]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.85      0.75      0.80      1585
           1       0.34      0.48      0.40       415

    accuracy                           0.70      2000
   macro avg       0.59      0.62      0.60      2000
weighted avg       0.74      0.70      0.72      2000

In [14]:
ann.evaluate(xtrain,ytrain)

250/250 [==============================] - 1s 4ms/step - loss: 0.5989 - accuracy: 0.6805

[0.5988729000091553, 0.6804999709129333]

# Hyperparameter tuning

In [15]:
counter = 0

for i in range(0,11):
  if counter == 0:
    print('Python')
else:
    print('Machine learning')
counter = counter+1

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Machine learning

In [16]:
counter

1

In [17]:
def hyper(hp):
    model = Sequential()
    counter = 0
    for i in range(hp.Int('num_layers', min_value = 1,max_value=10)):
        if counter ==0:
            model.add(Dense(hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
                            activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid']),
                            input_dim = 13))
    else:
        model.add(Dense(
              hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
              activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid'])))
    counter+=1
    model.add(Dense(units = 1,activation='sigmoid'))
    model.compile(optimizer = hp.Choice('optimizer',values = ['adam','rmsprop','sgd']),
                loss = 'binary_crossentropy',metrics = 'accuracy')
    return model

In [18]:
tuner = kf.RandomSearch(hyper,
                        objective = 'val_accuracy',
                        max_trials = 3)

Reloading Tuner from .\untitled_project\tuner0.json

In [19]:
tuner.search(xtrain,ytrain,epochs = 5, validation_data = (xtest,ytest))

In [20]:
tuner.get_best_hyperparameters()[0].values

{'optimizer': 'adam'}

In [21]:
df.shape

(10000, 14)

In [ ]:
tuned_model = tuner.get_best_models(num_models=1)[0]
tuned_model.build(x.shape)

In [ ]:
tuned_model.summary()

In [ ]:
tuned_model.fit(xtrain,ytrain,epochs=50, validation_data=(xtest,ytest))

In [ ]:
tuned_model.evaluate(xtrain,ytrain)

In [ ]:
tuned_model.evaluate(xtest,ytest)